Your directory account has been temporarily locked as a result of too many
failed authentication attempts.  It will automatically be unlocked in
%%notification-property:time-until-unlock%%.

For further assistance, please contact a server administrator.

