# OPENDJ-1789 Redirect away from obsolete in-progress documentation
# sending obsolete formats to the Bootstrap-styled HTML.

### OpenDJ trunk server docs ###

# EPUB, trunk server docs
RedirectMatch 301 ^/opendj-server/doc/OpenDJ-Admin-Guide.epub     http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj-server/doc/OpenDJ-Install-Guide.epub   http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj-server/doc/OpenDJ-Release-Notes.epub   http://opendj.forgerock.org/doc/bootstrap/release-notes/

# Single page HTML, trunk server docs
RedirectMatch 301 ^/opendj-server/doc/admin-guide/(.*)            http://opendj.forgerock.org/doc/bootstrap/admin-guide/$1
RedirectMatch 301 ^/opendj-server/doc/install-guide/(.*)          http://opendj.forgerock.org/doc/bootstrap/install-guide/$1
RedirectMatch 301 ^/opendj-server/doc/release-notes/(.*)          http://opendj.forgerock.org/doc/bootstrap/release-notes/$1

# Chunked HTML, trunk server docs
RedirectMatch 301 ^/opendj-server/doc/admin-guide/index/(.*)      http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj-server/doc/install-guide/index/(.*)    http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj-server/doc/release-notes/index/(.*)    http://opendj.forgerock.org/doc/bootstrap/release-notes/

# RTF, trunk server docs
RedirectMatch 301 ^/opendj-server/doc/OpenDJ-Admin-Guide.rtf      http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj-server/doc/OpenDJ-Install-Guide.rtf    http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj-server/doc/OpenDJ-Release-Notes.rtf    http://opendj.forgerock.org/doc/bootstrap/release-notes/

# Webhelp, trunk server docs
RedirectMatch 301 ^/opendj-server/doc/webhelp/admin-guide/(.*)    http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj-server/doc/webhelp/install-guide/(.*)  http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj-server/doc/webhelp/release-notes/(.*)  http://opendj.forgerock.org/doc/bootstrap/release-notes/

### OpenDJ dev branch server docs ###

# Handle the move from opendj3-server-dev
RedirectMatch 301 ^/opendj3-server-dev/doc/bootstrap/(.*)              http://opendj.forgerock.org/doc/bootstrap/$1
RedirectMatch 301 ^/opendj3-server-dev/doc/([^\.]+).pdf                http://opendj.forgerock.org/doc/$1.pdf

# EPUB, dev branch server docs
RedirectMatch 301 ^/opendj3-server-dev/doc/OpenDJ-Admin-Guide.epub     http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/OpenDJ-Install-Guide.epub   http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/OpenDJ-Release-Notes.epub   http://opendj.forgerock.org/doc/bootstrap/release-notes/

# Single page HTML, dev branch server docs
RedirectMatch 301 ^/opendj3-server-dev/doc/admin-guide/(.*)            http://opendj.forgerock.org/doc/bootstrap/admin-guide/$1
RedirectMatch 301 ^/opendj3-server-dev/doc/install-guide/(.*)          http://opendj.forgerock.org/doc/bootstrap/install-guide/$1
RedirectMatch 301 ^/opendj3-server-dev/doc/release-notes/(.*)          http://opendj.forgerock.org/doc/bootstrap/release-notes/$1

# Chunked HTML, dev branch server docs
RedirectMatch 301 ^/opendj3-server-dev/doc/admin-guide/index/(.*)      http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/install-guide/index/(.*)    http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/release-notes/index/(.*)    http://opendj.forgerock.org/doc/bootstrap/release-notes/

# RTF, dev branch server docs
RedirectMatch 301 ^/opendj3-server-dev/doc/OpenDJ-Admin-Guide.rtf      http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/OpenDJ-Install-Guide.rtf    http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/OpenDJ-Release-Notes.rtf    http://opendj.forgerock.org/doc/bootstrap/release-notes/

# Webhelp, dev branch server docs
RedirectMatch 301 ^/opendj3-server-dev/doc/webhelp/admin-guide/(.*)    http://opendj.forgerock.org/doc/bootstrap/admin-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/webhelp/install-guide/(.*)  http://opendj.forgerock.org/doc/bootstrap/install-guide/
RedirectMatch 301 ^/opendj3-server-dev/doc/webhelp/release-notes/(.*)  http://opendj.forgerock.org/doc/bootstrap/release-notes/

# Handle the move from opendj-server-legacy
RedirectMatch 301 ^/opendj-server-legacy/doc/(.*)                      http://opendj.forgerock.org/doc/$1

### OpenDJ LDAP SDK docs ###

# EPUB, LDAP SDK docs
RedirectMatch 301 ^/doc/OpenDJ-Dev-Guide.epub           http://opendj.forgerock.org/doc/bootstrap/dev-guide/
RedirectMatch 301 ^/doc/OpenDJ-Sdk-Release-Notes.epub   http://opendj.forgerock.org/doc/bootstrap/sdk-release-notes/

# Single page HTML, LDAP SDK docs
RedirectMatch 301 ^/doc/dev-guide/(.*)                  http://opendj.forgerock.org/doc/bootstrap/dev-guide/$1
RedirectMatch 301 ^/doc/sdk-release-notes/(.*)          http://opendj.forgerock.org/doc/bootstrap/sdk-release-notes/$1

# Chunked HTML, LDAP SDK docs
RedirectMatch 301 ^/doc/dev-guide/index/(.*)            http://opendj.forgerock.org/doc/bootstrap/dev-guide/
RedirectMatch 301 ^/doc/sdk-release-notes/index/(.*)    http://opendj.forgerock.org/doc/bootstrap/sdk-release-notes/

# RTF, LDAP SDK docs
RedirectMatch 301 ^/doc/OpenDJ-Dev-Guide.rtf            http://opendj.forgerock.org/doc/bootstrap/dev-guide/
RedirectMatch 301 ^/doc/OpenDJ-Sdk-Release-Notes.rtf    http://opendj.forgerock.org/doc/bootstrap/sdk-release-notes/

# Webhelp, LDAP SDK docs
RedirectMatch 301 ^/doc/webhelp/dev-guide/(.*)          http://opendj.forgerock.org/doc/bootstrap/dev-guide/
RedirectMatch 301 ^/doc/webhelp/sdk-release-notes/(.*)  http://opendj.forgerock.org/doc/bootstrap/sdk-release-notes/

