<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OpenDS"   verbose="1" >
    <packages>
        <package name="org.opends.server.protocols.asn1"/>
        <package name="org.opends.server.core"/>
        <package name="org.opends.server.backends.jeb"/>
    </packages>
    
    <test name="precommit">
        <groups>
            <run>
                <include name="precommit"/>
                <exclude name="broken"/>
            </run>
        </groups>
    </test>
    
    <test name="functional">
        <groups>
            <run>
                <include name="functional"/>
                <exclude name="broken"/>
            </run>
        </groups>
    </test>
    
</suite>
