<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OpenDS"   verbose="1" >
    <test name="default">
        <packages>
            <package name="org.opends.server.protocols.asn1"/>
            <package name="org.opends.server.protocols.internal"/>
            <package name="org.opends.server.protocols.ldap"/>
            <package name="org.opends.server.core"/>
            <package name="org.opends.server.backends.jeb"/>
            <package name="org.opends.server.synchronization"/>
            <package name="org.opends.server.protocols.jmx"/>
            <package name="org.opends.server.util"/>
            <package name="org.opends.server.schema"/>
            <package name="org.opends.server.monitors"/>
            <package name="org.opends.server.extensions"/>
            <package name="org.opends.server.tasks"/>
            <package name="org.opends.server.plugins"/>
        </packages>
    </test>

    <test name="precommit">
        <groups>
            <run>
                <include name="precommit"/>
                <exclude name="broken"/>
            </run>
        </groups>
    </test>

    <test name="functional">
        <groups>
            <run>
                <include name="functional"/>
                <exclude name="broken"/>
            </run>
        </groups>
    </test>

</suite>
