# Common Development and Distribution License, Version 1.0 only
# (the "License").  You may not use this file except in compliance
# with the License.
#
# You can obtain a copy of the license at
# trunk/opends/resource/legal-notices/OpenDS.LICENSE
# or https://OpenDS.dev.java.net/OpenDS.LICENSE.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at
# trunk/opends/resource/legal-notices/OpenDS.LICENSE.  If applicable,
# add the following below this CDDL HEADER, with the fields enclosed
# by brackets "[]" replaced with your own identifying information:
#      Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
#      Copyright 2009 Sun Microsystems, Inc.
#

define suffix=o=example
define maildomain=example.com
define Anumusers=3
define Bnumusers=0

#branch: [suffix]

branch: ou=masterModifyDN,[suffix]

branch: ou=A,ou=masterModifyDN,[suffix]
subordinateTemplate: person:[Anumusers]

branch: ou=B,ou=masterModifyDN,[suffix]
subordinateTemplate: person:[Bnumusers]


template: person
rdnAttr: uid
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
givenName: <first>
sn: <last>
cn: {givenName} {sn}
initials: {givenName:1}<random:chars:ABCDEFGHIJKLMNOPQRSTUVWXYZ:1>{sn:1}
employeeNumber: <sequential:0>
uid: user.{employeeNumber}
mail: {uid}@[maildomain]
userPassword: password
telephoneNumber: <random:telephone>
pager: <random:telephone>
mobile: <random:telephone>
street: <random:numeric:5> <file:streets> Street
l: <file:cities>
st: <file:states>
postalCode: <random:numeric:5>
postalAddress: {cn} - {street} - {l}, {st}  {postalCode}
description: This is the description for {cn}.
description;lang-fr: Ceci est la description en Français pour {cn}
description;lang-es: Eso es la Descripción en Español para {cn}
description;lang-jp: {cn}の日本語の説明です。
description: This is a seconde description  <random:numeric:10>
jpegPhoto:: <random:base64:1000>
jpegPhoto:: <random:base64:1000>

