<?xml version="1.0" encoding="UTF-8"?>
<!--
  ! CCPL HEADER START
  !
  ! This work is licensed under the Creative Commons
  ! Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ! To view a copy of this license, visit
  ! http://creativecommons.org/licenses/by-nc-nd/3.0/
  ! or send a letter to Creative Commons, 444 Castro Street,
  ! Suite 900, Mountain View, California, 94041, USA.
  !
  ! You can also obtain a copy of the license at
  ! trunk/opendj3/legal-notices/CC-BY-NC-ND.txt.
  ! See the License for the specific language governing permissions
  ! and limitations under the License.
  !
  ! If applicable, add the following below this CCPL HEADER, with the fields
  ! enclosed by brackets "[]" replaced with your own identifying information:
  !      Portions Copyright [yyyy] [name of copyright owner]
  !
  ! CCPL HEADER END
  !
  !      Copyright 2011 ForgeRock AS
  !    
-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>About OpenDJ LDAP Toolkit</title>
    <author email="opendj-dev@forgerock.org">ForgeRock AS</author>
  </properties>
  <body>
    <section name="About OpenDJ LDAP Toolkit">
      <p>The OpenDJ LDAP Toolkit includes the following command-line tools.</p>
      <dl>
       <dt>authrate</dt><dd>measure bind throughput and response time</dd>
       <dt>ldapcompare</dt><dd>perform LDAP compare operations</dd>
       <dt>ldapmodify</dt><dd>perform LDAP modify, add, delete, mod DN operations</dd>
       <dt>ldappasswordmodify</dt><dd>perform LDAP password modifications</dd>
       <dt>ldapsearch</dt><dd>perform LDAP search operations</dd>
       <dt>ldifmodify</dt><dd>perform LDAP modify, add, delete, mod DN operations against entries contained in an LDIF file</dd>
       <dt>ldifsearch</dt><dd>perform search operations against entries contained in an LDIF file</dd>
       <dt>ldifdiff</dt><dd>compare two LDIF files and report the differences in LDIF format</dd>
       <dt>modrate</dt><dd>measure modification throughput and response time</dd>
       <dt>searchrate</dt><dd>measure search throughput and response time</dd>
      </dl>
    </section>
    <section name="Get the OpenDJ LDAP Toolkit">
      <p>
        You can get the
        OpenDJ
        LDAP Toolkit using any of the following
        methods: 
    </p>
      <subsection name="Download">
        <p>
          The easiest way to download the OpenDJ LDAP Toolkit is to get the latest version from our
          <a
            href="http://maven.forgerock.org/repo/snapshots/org/forgerock/opendj/opendj-ldap-toolkit/${currentSDKversion}">repository</a>
          .
        </p>
      </subsection>
      <subsection name="Build">
        <p>
          For the DIY enthusiasts you can build it yourself by checking out the
          latest code using
          <a href="source-repository.html">Subversion</a>
          and building it with Maven 3
        </p>
      </subsection>
    </section>
  </body>
</document>
