Your directory password will expire in %%notification-property:time-until-expiration%%.

Please change your password before %%notification-property:password-expiration-time%%
so that it does not expire.

For further assistance, please contact a directory administrator.

