<?xml version="1.0" encoding="UTF-8"?>
<!--
  ! CCPL HEADER START
  !
  ! This work is licensed under the Creative Commons
  ! Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  ! To view a copy of this license, visit
  ! http://creativecommons.org/licenses/by-nc-nd/3.0/
  ! or send a letter to Creative Commons, 444 Castro Street,
  ! Suite 900, Mountain View, California, 94041, USA.
  !
  ! You can also obtain a copy of the license at
  ! trunk/opendj3/legal-notices/CC-BY-NC-ND.txt.
  ! See the License for the specific language governing permissions
  ! and limitations under the License.
  !
  ! If applicable, add the following below this CCPL HEADER, with the fields
  ! enclosed by brackets "[]" replaced with your own identifying information:
  !      Portions Copyright [yyyy] [name of copyright owner]
  !
  ! CCPL HEADER END
  !
  !      Copyright 2011-2013 ForgeRock AS
  !    
-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>About OpenDJ LDAP SDK Examples</title>
    <author email="opendj-dev@forgerock.org">ForgeRock AS</author>
  </properties>
  <body>
    <section name="About OpenDJ LDAP SDK Examples">
      <p>This module contains example LDAP applications implemented using the
        OpenDJ LDAP SDK:</p>
      <ul>
        <li>
          <a href="xref/org/forgerock/opendj/examples/Search.html">LDAP search</a>
          - illustrates how to perform an LDAP search operation using the
          synchronous APIs
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/SearchAsync.html">LDAP asynchronous search</a>
          - illustrates how to perform an LDAP search operation using the
          asynchronous APIs
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/Modify.html">LDAP modify</a>
          - illustrates how to perform an LDAP modify operation using the
          synchronous APIs
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/Server.html">LDAP server</a>
          - illustrates how to implement a very simple LDAP server
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/Proxy.html">LDAP proxy</a>
          - illustrates how to implement a very simple LDAP proxy
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/SimpleAuth.html">LDAP bind</a>
          - illustrates how to bind to an LDAP server
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/SASLAuth.html">LDAP SASL bind</a>
          - illustrates how to implement a SASL PLAIN bind to an LDAP server
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/ParseAttributes.html">Parse
          attributes</a> - illustrates how to get an entry's attribute values as objects
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/ReadSchema.html">Read LDAP schema</a>
          - illustrates how to read and verify an LDAP server's schema
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/GetInfo.html">Read Root DSE</a>
          - illustrates how to read an LDAP server's capabilities and schema
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/SearchBind.html">Search &amp; bind</a>
          - illustrates how to authenticate given a mail address and a password
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/ShortLife.html">Short life</a>
          - illustrates how to create, update, rename, and delete an entry
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/Controls.html">Use LDAP Controls</a>
          - illustrates how to use supported LDAP controls
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/ExtendedOperations.html">Use
          LDAP Extended Operations</a> - illustrates how to use supported LDAP extended
          operations
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/RewriterProxy.html">Rewrite proxy</a>
          - illustrates how to rewrite DNs and attribute names in a proxy layer
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/UpdateGroup.html">Update group</a>
          - illustrates how to add or remove a member from a static group
        </li>
        <li>
          <a href="xref/org/forgerock/opendj/examples/GetADChangeNotifications.html">Use <code>GenericControl</code></a>
          - illustrates how to use <code>GenericControl</code> to get change notifications from Active Directory
        </li>
      </ul>
    </section>
    <section name="Get the OpenDJ LDAP SDK Examples">
      <p>
        You can get the
        OpenDJ
        LDAP SDK examples using any of the following
        methods: 
    </p>
      <subsection name="Download">
        <p>
          The easiest way to download the OpenDJ LDAP SDK Examples and all of
          its
          dependencies is to get the latest version from our
          <a
            href="http://maven.forgerock.org/repo/snapshots/org/forgerock/opendj/opendj-ldap-sdk-examples/${currentSDKversion}">repository</a>
          .
        </p>
      </subsection>
      <subsection name="Build">
        <p>
          For the DIY enthusiasts you can build it yourself by checking out the
          latest code using
          <a href="source-repository.html">Subversion</a>
          and building it with Maven 3.
        </p>
      </subsection>
    </section>
  </body>
</document>
