<?xml version="1.0" encoding="UTF-8"?>
<!--
 ! The contents of this file are subject to the terms of the Common Development and
 ! Distribution License (the License). You may not use this file except in compliance with the
 ! License.
 !
 ! You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 ! specific language governing permission and limitations under the License.
 !
 ! When distributing Covered Software, include this CDDL Header Notice in each file and include
 ! the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 ! Header, with the fields enclosed by brackets [] replaced by your own identifying
 ! information: "Portions Copyright [year] [name of copyright owner]".
 !
 ! Copyright 2013-2016 ForgeRock AS.
 ! -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Codepage="1252" Language="1033" Manufacturer="ForgeRock"
           Name="ForgeRock $(var.name) $(var.major).$(var.minor).$(var.point)" Version="$(var.major).$(var.minor).$(var.point)"
           UpgradeCode="A3E82AC0-88E6-4DEE-9D8C-5AE3B7853274">
    <Package Id="*" Comments="This package contains ForgeRock $(var.name) $(var.major).$(var.minor).$(var.point)."
             Description="ForgeRock products" InstallerVersion="300" Languages="1033" Manufacturer="ForgeRock"
             Platform="x86" Compressed="yes"/>
    <Media Id="1" Cabinet="opendj.cab" DiskPrompt="Disk 1" EmbedCab="yes" CompressionLevel="high"/>
    <Property Id="DiskPrompt" Value="ForgeRock $(var.name) $(var.major).$(var.minor).$(var.point) Installation"/>

    <Property Id="ALLUSERS" Value="1"/>
    <Property Id="ARPHELPLINK" Value="http://forgerock.com"/>

    <!-- UI customization -->
    <WixVariable Id="WixUIBannerBmp" Value="opendjbanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="opendjdialog.bmp" />

    <!-- Upgrading -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.name) is already installed."/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="OPENDJ" Name="$(var.name)">
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="All" Title="Server and tools" Level="1" ConfigurableDirectory="OPENDJ">
      <ComponentGroupRef Id="all"/>
    </Feature>

    <!-- User interface -->
    <Property Id="WIXUI_INSTALLDIR" Value="OPENDJ"/>
    <UI Id="OpenDJ_Install">
      <UIRef Id="WixUI_InstallDir"/>
      <UIRef Id="WixUI_ErrorProgressText"/>
      <!-- Don't show the license agreement in the install, just in setup -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Order="2" Value="WelcomeDlg">1</Publish>
    </UI>
  </Product>
</Wix>
