<?xml version="1.0" encoding="UTF-8"?>
<!--
 ! The contents of this file are subject to the terms of the Common Development and
 ! Distribution License (the License). You may not use this file except in compliance with the
 ! License.
 !
 ! You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 ! specific language governing permission and limitations under the License.
 !
 ! When distributing Covered Software, include this CDDL Header Notice in each file and include
 ! the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 ! Header, with the fields enclosed by brackets [] replaced by your own identifying
 ! information: "Portions Copyright [year] [name of copyright owner]".
 !
 ! Copyright 2013-2016 ForgeRock AS.
 ! Portions Copyright 2018-2026 3A Systems, LLC
 ! -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="$(var.name) $(var.major).$(var.minor).$(var.point)"
           Manufacturer="Open Identity Platform Community"
           Version="$(var.major).$(var.minor).$(var.point)"
           UpgradeCode="A3E82AC0-88E6-4DEE-9D8C-5AE3B7853274"
           Language="1033" Codepage="1252" InstallerVersion="500" Scope="perMachine">

    <SummaryInformation Description="Open Identity Platform Community products"
                        Manufacturer="Open Identity Platform Community"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <Property Id="ARPHELPLINK" Value="https://github.com/OpenIdentityPlatform/OpenDJ/wiki"/>

    <!-- UI customization -->
    <WixVariable Id="WixUIBannerBmp" Value="opendjbanner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="opendjdialog.bmp"/>

    <!-- x64 install location: C:\Program Files\OpenDJ -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="OPENDJ" Name="$(var.name)">
        <Directory Id="OPENDJ_LIB" Name="lib"/>
      </Directory>
    </StandardDirectory>

    <!-- Windows service: opendj_service.exe is the SCM wrapper that runs bat\start-ds.bat.
         Registered here, but NOT started during install (the instance must be configured by
         setup.bat first). -->
    <Component Id="OpenDJServiceExe" Directory="OPENDJ_LIB">
      <File Id="opendj_service.exe" Source="$(var.staging)\lib\opendj_service.exe" KeyPath="yes"/>
      <ServiceInstall Id="OpenDJService" Name="OpenDJ" DisplayName="OpenDJ Server"
                      Description="OpenDJ LDAPv3 Directory Server" Type="ownProcess"
                      Start="auto" ErrorControl="normal"
                      Arguments="start &quot;[OPENDJ]&quot;" Vital="no"/>
      <ServiceControl Id="OpenDJServiceControl" Name="OpenDJ"
                      Stop="both" Remove="uninstall" Wait="yes"/>
    </Component>

    <!-- Harvest the payload: everything except lib goes under OPENDJ; lib (minus the service
         wrapper, which is the explicit component above) goes under OPENDJ_LIB. -->
    <ComponentGroup Id="OpenDJRoot" Directory="OPENDJ">
      <Files>
        <Include Path="$(var.staging)\**"/>
        <Exclude Path="$(var.staging)\lib\**"/>
      </Files>
    </ComponentGroup>
    <ComponentGroup Id="OpenDJLib" Directory="OPENDJ_LIB">
      <Files>
        <Include Path="$(var.staging)\lib\**"/>
        <Exclude Path="$(var.staging)\lib\opendj_service.exe"/>
      </Files>
    </ComponentGroup>

    <Feature Id="All" Title="Server and tools" ConfigurableDirectory="OPENDJ">
      <ComponentRef Id="OpenDJServiceExe"/>
      <ComponentGroupRef Id="OpenDJRoot"/>
      <ComponentGroupRef Id="OpenDJLib"/>
    </Feature>

    <!-- WixUI_InstallDir; the license is shown only by setup, not by this installer. -->
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="OPENDJ"/>
  </Package>
</Wix>
