<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>OpenDJ Control Panel</string>
	<key>CFBundleIdentifier</key>
	<string>org.opends.guitools.controlpanel.ControlPanelLauncher</string>
	<key>CFBundleShortVersionString</key>
	<string>@version@</string>
	<key>CFBundleVersion</key>
	<string>@revision@</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>OpenDJ.icns</string>
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-Dorg.opends.server.ServerRoot=$APP_PACKAGE/../..</string>
		<key>MainClass</key>
		<string>org.opends.guitools.controlpanel.ControlPanelLauncher</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/../../../../../classes</string>
			<string>$JAVAROOT/../../../../../lib/bootstrap.jar</string>
		</array>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>

